<%-include('nav.ejs')%>
<h1>Welecome</h1>
<%-include('footer.ejs')%>


// CREATE TABLE contact_form (id INT PRIMARY KEY AUTO_INCREMENT,name VARCHAR(200),email VARCHAR(200), subject VARCHAR(200),message TEXT,date TEXT,time TEXT);